:root {
  --clr1: #deb887;
  --clr2: #422a00;
  --clr3: #007662;
  --clr4: #dfe0df;
}

* {
  font-family: "Cascadia Code", monospace;
  color: var(--clr2);
  font-size: 18px;
}
body {
  margin: 0;
  background-color: var(--clr1);
}

/* TYPOGRAPHY */
header h2 {
  font-size: x-large;
  background-color: transparent;
  color: var(--clr4);
}
.nav-ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 1rem;
  background-color: var(--clr2);
  a {
    background-color: var(--clr2);
    color: var(--clr4);
    text-decoration: none;

    a:focus,
    :hover {
      color: var(--clr1);
    }
  }
}

/* LAYOUT */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--clr2);
}
.nav {
  background-color: var(--clr2);
}
section {
  margin: 1.5rem 0;
}
.hero {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--clr1);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  a {
    text-decoration: none;
    margin: -5px 0;
  }
  p {
    margin: 0;
  }
}
.details > a:visited,
.nav-ul > a:visited {
  color: var(--clr3);
}
.goals {
  background-color: var(--clr2);
  padding: 2rem 1rem;
}
.goal {
  display: flex;
  gap: 30px;
}
.goals h3 {
  text-align: center;
  color: var(--clr1);
  font-size: larger;
}
.goals p {
  text-align: center;
  color: var(--clr1);
}

.time-day {
  background-color: var(--clr1);
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 2rem 0;
}

.td {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}

@media only screen and (min-width: 1025px) {
  .hero {
    flex-direction: row;
  }
  .details {
    a:visited {
      color: var(--clr2);
    }
    a:hover {
      color: var(--clr3);
    }
  }

  .hero {
    gap: 25rem;
  }
  .goals {
   padding: 2rem 10rem;
  }
}
